
#clock-outer{
  width:100%;
  height:auto;
  padding:5%;
}

.center-hands {
  position:relative;

}

.center-hands img{
  width:100%;
}


#circle {
  position: absolute;
  top: 48%;
  left:48%;

}

#seconds {
  position: absolute;
  top: 23%;
  left:41%;
  transform-origin: center bottom;
}

#minutes {
  position: absolute;
  top: 23%;
  left:41%;
  transform-origin: center bottom;
}

#hours{
  position: absolute;
  top: 23%;
  left:41%;
  transform-origin: center bottom;

}


textarea {
    font-size: 3em;
    max-width: 50px;
    text-align: center;
    padding: 0px;
}